.profile__info {
  align-self: center;
  margin-right: 24px;
  grid-area: profile__info;
}

@media screen and (min-width: 320px) and (max-width: 896px) {
  .profile__info {
    margin: 0 10px 33px 27px;
  }
}

